
<div class="footer">
    <div class="creator">
        <p> Created by : <span>Priyansh Shrivastava !</span></p>
    </div>
    <div class="socials">
         <h3>My Socials:</h3>
         <div class="social-icon">
            <a href="https://github.com/PriyanshShrivastava" target="_blank"
                ><i class="fa-brands fa-github social-links"></i>
            </a>
            <a href="https://twitter.com/shadow_priyansh" target="_blank"
                ><i class="fa-brands fa-twitter social-links"></i>
            </a>
            <a
                href="https://www.linkedin.com/in/priyansh-shrivastava-184355145/"
                target="_blank"
                ><i class="fa-brands fa-linkedin social-links"></i
            ></a>
            <a href="https://priyanshshrivastava.hashnode.dev/" target="_blank"
                ><i class="fa-brands fa-hashnode social-links"></i
            ></a>
          </div>
    </div>
</div>
<script src="./../app.js"></script>
</body>
</html>